<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appenders>
		<appender name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %c{1}:%L [%p] %m%n" />
		</appender>
		<appender type="File" name="File" fileName="${com.sun.aas.instanceRootURI}/logs/ecm.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %c{1}:%L [%p] %m%n" />
	    </appender>
	</appenders>

	<!-- Application Loggers -->
	<logger name="net.vksn.ecm">
		<level value="debug" />
	</logger>

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>

	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="debug" />
	</logger>

	<logger name="org.hibernate">
		<level value="warn" />
	</logger>
	<logger name="org.apache.tiles">
		<level value="debug" />
	</logger>


	<!-- Root Logger -->
	<root level="DEBUG">
		<appender-ref ref="File" />
		<appender-ref ref="Console" />
	</root>

</log4j:configuration>
